@font-face {
	font-family: "Helvetica NDM";
	src: url("https://github.com/sjccolombo/sjc-storage/blob/main/Fonts/HelveticaNowDisplay-Medium.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica NDM', sans-serif;
}

html {
	color: #fff;
	background: #1e4466;
	scroll-behavior: smooth;
}

.hr-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 0px;
}
hr {
	border: 2px solid #1e75c2;
	border-radius: 2px;
	width: 10%;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

a {
	color: #fff;
}

p {
	font-size: large;
	line-height: 1.8;
}


/* SCROLLBAR PROPERTIES START ========================================= */
* {
	/* For Firefox */
	scrollbar-width: thin;
}

*::-webkit-scrollbar {
	width: 7px;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: #ababab;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: #8f8f8f;
}
*::-webkit-scrollbar-thumb:active {
	background-color: #7a7a7a;
}
/* =========================================== SCROLLBAR PROPERTIES END */


/* TO-TOP START ======================================================= */
#to-top-btn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	font-size: 20px;
	border: none;
	background: #1e75c2;
	color: #ececec;
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 25px;
	transition: 0.4s;
}
#to-top-btn:hover {
	color: #ececec;
	background: #3791df;
	scale: 1.05;
	transition: 0.4s;
}
/* ========================================================= TO-TOP END */


/* NAVBAR PROPERTIES START ============================================ */
.nav-bar {
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
	height: 10vh;
	color: #fff;
	background: #1e44666d;
	text-transform: uppercase;
	backdrop-filter: blur(10px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-bar .activepage {
	color: #0e0e0e;
	background: #fff;
	border-bottom: 3px solid #1e75c2;
	border-radius: 5px;
}
.nav-bar .activepage:hover{
	text-shadow: none;
}

.nav-bar button {
	color: #fff;
	background: transparent;
	font-size: small;
	border: none;
	padding: 5px 20px;
	margin: 0px 5px 3px 5px;
	border-radius: 5px;
	cursor: pointer;
}
.nav-bar button:hover {
	color: #0e0e0e;
	background: #fff;
}

.nav-container {
	width: 95%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-logo {
	position: relative;
	left: 0;
}
.nav-logo img {
	height: 40px;
}
.nav-menu {
	position: relative;
	right: 0;
}

.dropdown {
	display: inline-block;
	position: relative;
}
.dropdown-content {
	font-size: small;
	display: none;
	position: absolute;
	width: 180%;
	overflow: hidden;
	margin-left: 5px;
	border-radius: 5px 5px;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.249);
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown-content a {
	color: #fff;
	background: #1e4466;
	border-bottom: 1px solid #1e75c2;
	border-image: linear-gradient(90deg, #1e75c2, #909090) 1;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	transition: 0.5s;
}
.dropdown-content a:last-child {
	border-bottom: none;
}

.dropdown-content a:hover {
	color: #1e4466;
	background: #fff;
	transition: 0.5s;
}
/* ============================================== NAVBAR PROPERTIES END */


/* HOME PAGE ======================================================================================== */
/* HEADER PROPERTIES START ============================================ */
.header {
	height: 100vh;
	color: #fff;
	background: linear-gradient(#0e0e0ed0,#0e0e0ed0), url('https://raw.githubusercontent.com/sjccolombo/sjc-storage/main/Images/Banners/banner.webp');
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 60%;
	width: 85%;
}
.header-container .title {
	letter-spacing: -2px;
	font-size: xxx-large;
	margin-bottom: 6px;
}
.header-container .sub-title {
	letter-spacing: -1px;
	font-size: xx-large;
	margin-bottom: 45px;
}
.header-container button {
	color: #fff;
	background: #1e75c2;
	font-size: medium;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
	padding: 10px 25px;
	cursor: pointer;
	transition: 0.5s;
}
.header-container button:hover {
	color: #1e75c2;
	background: #fff;
	scale: 1.05;
	transition: 0.5s;
}
/* ============================================== HEADER PROPERTIES END */


/* SUB-HEADER START =================================================== */
.sub-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: #fff;
}
.sub-header-container {
	text-align: center;
	height: auto;
	width: 95%;
}
.sub-header-container h1 {
	font-size: medium;
	margin-bottom: 5px;
}
.sub-header-container h2 {
	font-size: xx-large;
}
.sub-header-container p {
	text-align: justify;
	text-align-last: center;
	margin: 30px 0px 30px 0px;
}
/* ===================================================== SUB-HEADER END */


/* ACADEMICS-SECTION START ============================================ */
.academics-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
	padding: 35px 20px;
	color: #fff;
	background: #1e4466;
}
.academics-section-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	width: 100%;
	height: auto;
}
.academics-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px 20px;
	margin: 10px;
	width: 35%;
	height: 300px;
	border-radius: 5px;
	color: #ececec;
	background: #142d44;
	box-shadow: 0 0 50px #1e4466;
	transition: 0.3s;
}
.academics-card:hover {
	box-shadow: 0 0 50px #2c6292;
	transition: 0.3s;
}
#primary {
	background: linear-gradient(#0e0e0e9f,#0e0e0e9f), url('https://raw.githubusercontent.com/sjccolombo/sjc-storage/main/Images/Education/primary.webp');
	background-size: cover;
}
#middle {
	background: linear-gradient(#0e0e0e9f,#0e0e0e9f), url('https://raw.githubusercontent.com/sjccolombo/sjc-storage/main/Images/Education/middle.webp');
	background-size: cover;
}
#ordinary {
	background: linear-gradient(#0e0e0e9f,#0e0e0e9f), url('https://raw.githubusercontent.com/sjccolombo/sjc-storage/main/Images/Education/ordinary.webp');
	background-size: cover;
}
#advanced {
	background: linear-gradient(#0e0e0e9f,#0e0e0e9f), url('https://raw.githubusercontent.com/sjccolombo/sjc-storage/main/Images/Education/advanced.webp');
	background-size: cover;
}
#london-advanced {
	background: linear-gradient(#0e0e0e9f,#0e0e0e9f), url('');
	background-size: cover;
}

.academics-card button {
	color: #fff;
	background: #1e75c2;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
	margin: 15px;
	padding: 10px 15px;
	cursor: pointer;
	transition: 0.5s;
}
.academics-card button:hover {
	color: #1e75c2;
	background: #fff;
	scale: 1.05;
	transition: 0.5s;
}
/* ============================================== ACADEMICS-SECTION END */


/* NEWS-SECTION START ================================================= */
.news-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
	padding: 35px 20px;
	color: #fff;
	background: #1e4466;
}
.news-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 20px;
	width: 100%;
	height: auto;
}
.news-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px 20px;
	margin: 10px;
	width: 45%;
	height: auto;
	border-radius: 5px;
	color: #ececec;
	background: #142d44;
	box-shadow: 0 0 50px #1e4466;
	transition: 0.3s;
}
.news-card:hover {
	box-shadow: 0 0 50px #2c6292;
	transition: 0.3s;
}

.news-card h2 {
	margin: 20px;
}
.news-card img {
	border-radius: 5px;
	margin-bottom: 20px;
	width: 90%;
}
.news-card p {
	width: 90%;
	padding: 10px 0px 15px 0px;
	text-align: justify;
	text-align-last: center;
}

.news-info-container {
	height: auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.news-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.news-info i {
	color: #4395dc;
	margin-right: 10px;
}
.news-info h3 {
	font-size: 16px;
	margin: 0px 15px 0px 15px;
}
/* =================================================== NEWS-SECTION END */


/* GOOGLEMAP START ==================================================== */
.googleMap{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75vh;
	padding: 35px 20px;
}
.googleMap-container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 100%;
}
.googleMap-container iframe{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	box-shadow: 0 0 50px #1e4466;
	transition: 0.3s;
}
.googleMap-container iframe:hover{
	box-shadow: 0 0 50px #2c6292;
	transition: 0.3s;
}
/* ====================================================== GOOGLEMAP END */


/* CONTACTUS-SECTION START ============================================ */
.contactUs-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
	padding: 35px 20px;
	color: #fff;
	background: #1e4466;
}
.contactUs-section h1 {
	text-align: center;
	margin-top: 10px;
}

.contactUs-section form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.contactForm-div span{
	color: #c52929;
}
.contactForm-div label {
	width: 100%;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 10px;
	cursor: text;
}
.contactForm-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	padding: 10px;
}

.contactForm-div input{
	font-size: small;
	width: 100%;
	padding: 10px 15px;
	border-radius: 5px;
	outline: 3px solid transparent;
	border: none;
	transition: 0.4s;
}
.contactForm-div input:focus{
	outline: 3px solid #1e75c2;
	transition: 0.4s;
}
.contactForm-div textarea{
	resize: none;
	font-size: small;
	width: 100%;
	height: 150px;
	padding: 10px 15px;
	border-radius: 5px;
	outline: 3px solid transparent;
	border: none;
	transition: 0.4s;
}
.contactForm-div textarea:focus{
	outline: 3px solid #1e75c2;
	transition: 0.4s;
}
.contactForm-div button {
	color: #fff;
	background: #1e75c2;
	text-transform: uppercase;
	font-size: medium;
	border: none;
	border-radius: 5px;
	margin: 15px;
	padding: 10px 15px;
	cursor: pointer;
	transition: 0.5s;
}
.contactForm-div button:hover {
	color: #1e75c2;
	background: #fff;
	scale: 1.05;
	transition: 0.5s;
}
/* ============================================== CONTACTUS-SECTION END */


/* DETAILS-SECTION START ============================================== */
.details-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 30vh;
	color: #fff;
	background: #202020;
}
.details-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 95%;
	height: auto;
}
.details-container h1 {
	margin: 10px 0px 25px 0px;
}

.sm-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.sm-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	width: 40px;
	height: 40px;
	margin: 0px 10px;
	font-size: larger;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 25px;
	background: #1e75c2;
	transition: 0.4s;
}
.sm-icon:hover {
	color: #1e75c2;
	background: #ececec;
	border: 2px solid #ececec;
	transition: 0.4s;
}
/* ================================================ DETAILS-SECTION END */


/* FOOTER START ======================================================= */
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	color: #ececec;
	background: #0e0e0e;
}
/* FOOTER END ========================================================= */



/* 404 PAGE ========================================================================================= */
/* HEADER PROPERTIES START ============================================ */
.error-header {
	height: 90vh;
	color: #fff;
	background: linear-gradient(#0e0e0ed0,#0e0e0ed0), url('https://raw.githubusercontent.com/sjccolombo/sjc-storage/main/Images/Banners/banner.webp');
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.error-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: auto;
	width: 85%;
}
.error-container .error-title {
	letter-spacing: -15px;
	font-size: 150px;
}
.error-container .error-sub-title {
	font-size: larger;
	text-transform: none;
	margin-bottom: 30px;
}
.error-container button {
	color: #fff;
	background: #1e4466;
	font-size: medium;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
	padding: 10px 25px;
	cursor: pointer;
	transition: 0.5s;
}
.error-container button:hover {
	color: #0e0e0e;
	background: #fff;
	scale: 1.05;
	transition: 0.5s;
}
/* ============================================== HEADER PROPERTIES END */



/* GALLERY PAGE ===================================================================================== */
/* GALLERY PROPERTIES START =========================================== */
.gallery-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}
.gallery-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: auto;
}
.gallery-container iframe {
	width: 48%;
	height: 55vh;
	margin: 10px 15px;
	border-radius: 10px;
	box-shadow: 0 0 50px #1e4466;
	transition: 0.4s;
}
.gallery-container iframe:hover {
	box-shadow: 0 0 50px #2c6292;
	transition: 0.4s;
}
/* ============================================= GALLERY PROPERTIES END */



/* ABOUT-US PAGE ==================================================================================== */
/* ABOUTUS-SECTION START ============================================== */
.aboutUs-header {
	height: 70vh;
	color: #fff;
	background: linear-gradient(#0e0e0ed0,#0e0e0ed0), url('https://raw.githubusercontent.com/sjccolombo/sjc-storage/main/Images/Banners/banner.webp');
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.aboutUs-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 60%;
	width: 85%;
}
.aboutUs-container .title {
	letter-spacing: -2px;
	font-size: xxx-large;
	margin-bottom: 6px;
}
/* ================================================ ABOUTUS-SECTION END */


/* ABOUTUS-CONTENT START ============================================== */
.aboutUs-content {
	height: auto;
	color: #fff;
	background: #1e4466;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.abContent-container {
	height: auto;
	width: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.abContent-history {
	height: auto;
	width: 100%;
	padding: 35px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.abContent-history p {
	text-align: justify;
	text-align-last: left;
	text-indent: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.abContent-history .list-item {
	width: 90%;
	padding: 15px 0px;
	line-height: 2.0;
}


.abContent-flag {
	height: auto;
	width: 100%;
	padding: 35px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.abContent-flag p {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.abContent-flagImage {
	height: 400px;
	width: auto;
}
.abContent-flagImage img {
	height: 100%;
	width: auto;
	border-radius: 10px;
	box-shadow: 0 0 50px #1e4466;
	transition: 0.3s;
}
.abContent-flagImage img:hover {
	box-shadow: 0 0 50px #2c6292;
	transition: 0.3s;
}


.abContent-anthem {
	height: auto;
	width: 100%;
	padding: 35px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.abContent-anthem p {
	text-align: justify;
	text-align-last: left;
	text-indent: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.abContent-emblem {
	height: auto;
	width: 100%;
	padding: 35px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.abContent-emblem p {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.abContent-emblemImage {
	height: 350px;
	width: auto;
}
.abContent-emblemImage img {
	height: 100%;
	width: auto;
	border-radius: 10px;
	filter: none;
	transition: 0.3s;
}
.abContent-emblemImage img:hover {
	filter: drop-shadow(0 0 20px #ffffff80);
	transition: 0.3s;
}


.abContent-rectors {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
	padding: 35px 20px;
	color: #fff;
	background: #1e4466;
}
.abContent-rectorsContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 20px;
	width: 100%;
	height: auto;
}
.abContent-rectorsCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px 20px;
	margin: 10px;
	width: 25%;
	height: auto;
	border-radius: 5px;
	color: #ececec;
	background: #142d44;
	box-shadow: 0 0 50px #1e4466;
	transition: 0.3s;
}
.abContent-rectorsCard:hover {
	box-shadow: 0 0 50px #2c6292;
	transition: 0.3s;
}

.abContent-rectorsCard h2 {
	text-align: center;
	margin-top: 10px;
}
.abContent-rectorsCard img {
	border-radius: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 90%;
}
.abContent-rectorsCard p {
	width: 90%;
	text-align: center;
}
/* ================================================ ABOUTUS-CONTENT END */




.education-header {
	height: 70vh;
	color: #fff;
	background: linear-gradient(#0e0e0ed0,#0e0e0ed0), url('https://raw.githubusercontent.com/sjccolombo/sjc-storage/main/Images/Banners/banner.webp');
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
#primary-header{
	background: linear-gradient(#0e0e0ed0,#0e0e0ed0), url('https://raw.githubusercontent.com/sjccolombo/sjc-storage/main/Images/Education/primary.webp');
	background-size: cover;
}
#middle-header{
	background: linear-gradient(#0e0e0ed0,#0e0e0ed0), url('https://raw.githubusercontent.com/sjccolombo/sjc-storage/main/Images/Education/middle.webp');
	background-size: cover;
}
#upper-header{
	background: linear-gradient(#0e0e0ed0,#0e0e0ed0), url('https://raw.githubusercontent.com/sjccolombo/sjc-storage/main/Images/Education/upper.webp');
	background-size: cover;
}
#ordinary-header{
	background: linear-gradient(#0e0e0ed0,#0e0e0ed0), url('https://raw.githubusercontent.com/sjccolombo/sjc-storage/main/Images/Education/ordinary.webp');
	background-size: cover;
}
#advanced-header{
	background: linear-gradient(#0e0e0ed0,#0e0e0ed0), url('https://raw.githubusercontent.com/sjccolombo/sjc-storage/main/Images/Education/advanced.webp');
	background-size: cover;
}
.education-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 60%;
	width: 85%;
}
.education-container .title {
	letter-spacing: -2px;
	font-size: xxx-large;
	margin-bottom: 6px;
}


.education-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 20px;
	height: auto;
}

.education-contentCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 20px;
	margin: 10px;
	width: 25%;
	height: auto;
	border-radius: 5px;
	color: #ececec;
	background: #142d44;
	box-shadow: 0 0 50px #1e4466;
	transition: 0.3s;
}
.education-contentCard:hover {
	box-shadow: 0 0 50px #2c6292;
	transition: 0.3s;
}
.education-contentCard a {
	text-decoration: none;
}
.education-contentCard h2 {
	text-align: center;
}
.education-contentCard img {
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 20px;
	width: 90%;
}




.facilities-header {
	height: 70vh;
	color: #fff;
	background: linear-gradient(#0e0e0ed0,#0e0e0ed0), url('https://raw.githubusercontent.com/sjccolombo/sjc-storage/main/Images/Banners/banner.webp');
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.facilities-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 60%;
	width: 85%;
}
.facilities-container .title {
	letter-spacing: -2px;
	font-size: xxx-large;
	margin-bottom: 6px;
}


.facilities-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 20px;
	height: auto;
}

.facilities-contentCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 20px;
	margin: 10px;
	width: 25%;
	height: auto;
	border-radius: 5px;
	color: #ececec;
	background: #142d44;
	box-shadow: 0 0 50px #1e4466;
	transition: 0.3s;
}
.facilities-contentCard:hover {
	box-shadow: 0 0 50px #2c6292;
	transition: 0.3s;
}
.facilities-contentCard a {
	text-decoration: none;
}
.facilities-contentCard h2 {
	text-align: center;
}
.facilities-contentCard img {
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 20px;
	width: 90%;
}




.activities-header {
	height: 70vh;
	color: #fff;
	background: linear-gradient(#0e0e0ed0,#0e0e0ed0), url('https://raw.githubusercontent.com/sjccolombo/sjc-storage/main/Images/Banners/banner.webp');
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.activities-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 60%;
	width: 85%;
}
.activities-container .title {
	letter-spacing: -2px;
	font-size: xxx-large;
	margin-bottom: 6px;
}


.activities-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 20px;
	height: auto;
}

.activities-contentCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 20px;
	margin: 10px;
	width: 25%;
	height: auto;
	border-radius: 5px;
	color: #ececec;
	background: #142d44;
	box-shadow: 0 0 50px #1e4466;
	transition: 0.3s;
}
.activities-contentCard:hover {
	box-shadow: 0 0 50px #2c6292;
	transition: 0.3s;
}
.activities-contentCard a {
	text-decoration: none;
}
.activities-contentCard h2 {
	text-align: center;
}
.activities-contentCard img {
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 20px;
	width: 90%;
}